@page
@model IndexModel
@{
    ViewData["Title"] = "WELCOME ";
}

<html>

   <head>
   <style>
      #grad1 {
  height: 400px;
  background-color: red; 
  background-image: linear-gradient(red, blue , yellow);
}
</style>	  
   </head>
	
   <body >
   <div class="text-center">
    <h1 class="display-4">WELCOME TO POC</h1>
    <h1 style="background-color:DodgerBlue;">Hello World</h1>	
    

      <p >Welcome to ourcode </p>
	   <p>hello</p>
	   <p> Our Teammates are Ajith ,Rajan, Sanjana ,Sai ,Simritha 
      <marquee>Hello Everyone</marquee>
	  <div id="grad1"></div>
   </body>
   </div>
	
</html>
